@font-face {
    font-family: wildy-sans;
    src: url('../fonts/wildy-sans.regular.ttf');
    font-weight: bold;
}

@font-face {
    font-family: floralipart2;
    src: url('../fonts/floralipart2.regular.ttf');
}

:root{
    --main-color: white;
    --main-text-color: black;
    --main-beige-color: rgb(242, 237, 226);
    --main-green-color: rgb(154, 159, 127);
    --main-darkgreen-color: rgb(96, 111, 78);
    --main-blue-color: rgb(155, 177, 255);
    --main-purple-color: rgb(133, 54, 108);
    --main-brown-color: rgb(88, 69, 55);
    --main-padding: 1em;
    --main-heading-font: wildy-sans;
    --main-leaf-font: floralipart2;
    --main-subheading-font: 'Yeseva One';
    --main-body-font: 'Merriweather Sans';
    --main-font-weight: bolder;
}

.mistake{
   color: crimson;
   background-color: var(--main-beige-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--main-body-font);
    color: var(--main-text-color);
    line-height: 1.6;
}

/* Head */
.heading {
    width: 100vw;
    height: 45vh;
    background-color: var(--main-darkgreen-color);
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.head-title {
    font-family: var(--main-heading-font);
    color: var(--main-text-color);
    font-size: 80px;
}

.left-leaf, .right-leaf {
    font-family: var(--main-leaf-font);
    color: var(--main-text-color);
    font-size: 70px;
}

.left-leaf {
    transform: rotate(270deg);
}

.right-leaf {
    transform: rotate(90deg);

}

/* Navigation */
.nav {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 10px;
    text-align: center;
    font-family: var(--main-body-font);
    font-weight: var(--main-font-weight);
    font-size: large;
    background-color: var(--main-darkgreen-color);
}

.nav a {
    color: var(--main-text-color);
    text-decoration: none;
    margin: 0 10px;
    padding: 5px 40px;
    border-radius: 5px;
}

.nav a:hover {
    color: var(--main-color);
    font-weight: var(--main-font-weight);
    font-style: italic;
}

/* Dropdown Nav */
.dropdown {
    display: inline-block;
    position: relative; 
}

.dropdown-button {
    border: none;
    outline: none;
    padding: 14px 16px;
    margin: 0;
    background: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--main-beige-color);
    padding: 5px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block; 
}

.dropdown-content a {
    display: block;
    color: var(--main-purple-color);
    padding: 8px;
    text-decoration: none;
    text-align: center;
}

.dropdown-content a:hover {
    background-color: var(--main-green-color);
    color: var(--main-text-color);
}

.login-message{
    text-align: center;
    background-color: var(--main-green-color);
    font-size: 20px;
    padding: 1%;
}

/* Main */
main {
    background-color: var(--main-beige-color);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    font-family: var(--main-body-font);
    font-size: 30px;
}
/* Pre tag overflow */
pre {
    overflow-x: auto;
}
/* Section */
.beige-half, .green-half {
    padding: 25px 20px;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 10px;
    justify-content: center;
}

.header-grid {
    grid-area: 1 / 1 / span 1 / span 5;
}

.paragraph {
    grid-area: 2 / 1 / span 1 / span 5;
    max-width: 60%;
    margin: 10px auto;
    font-size: 18px;
    font-weight: normal;
}

.center-table {
    grid-area: 3 / 2 / span 1 / span 3;
    padding: 1%;
    background: var(--main-color);
    border-radius: 1%;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.1);
    margin: 1%;
}

.green-half {
    background-color: var(--main-green-color)
}

/* Small Image Card */
.card-grid {
    max-width: 300px;
    padding: 1%;
    background: var(--main-color);
    border-radius: 1%;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.1);
    margin: 1%;
}

.beige-half .card-grid:hover, .green-half .card-grid:hover {
    box-shadow: 10px 10px 5px rgba(133, 53, 108, 0.5);
}

.card-grid  img{
    border-radius: 1%;
    max-width: 100%;
}

.card-grid h3, p{
    text-align: center;
    font-family: var(--main-subheading-font);
}


/* Big card grids */
.bigcard-grid {
    display: grid;
    grid-gap: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    margin: 0px 60px;
}

.bigcard-grid img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.bigcard-grid h3 {
    text-align: center;
}

.bigtext {
    max-width: 700px;
    margin: auto;
}

.linebreaker-leaf {
    font-family: var(--main-leaf-font);
    color: var(--main-text-color);
    font-size: 80px;
    transform: rotate(90deg);
    max-width: fit-content;
    margin: auto;
}

/* Update and Delete and Detail buttons*/
.update-button:link, .update-button:visited, .delete-button:link, .delete-button:visited {
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 10px 15px;
}

.update-button:link, .update-button:visited {
    background-color: rgb(88, 129, 87);
}

.update-button:hover, .update-button:active {
    background-color: green;
}

.delete-button:link, .delete-button:visited  {
    background-color: rgb(202, 37, 53);
}

.delete-button:hover, .delete-button:active {
    background-color: red;
}

/* Forms */
caption{
    font-weight: var(--main-font-weight);
    font-size: 20px;
    padding: var(--main-padding);
}

legend{
    font-size: 20px;
    font-weight: var(--main-font-weight);
    text-align: center;
    padding: 10px;
}

form{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    background: var(--main-green-color);
    border: .5em inset var(--main-darkgreen-color);
    border-radius: 1%;
    padding: 3em;
    max-width: min-content;
}

fieldset{
    border: none;
}

label + input, label + textarea{
    display: block;
}

input[type=submit]{
    font-family: var(--main-body-font);
    width: 50%;
    margin: 15px 80px;
    padding: 4px;
    font-size: 20px;
    background-color: var(--main-purple-color);
    color: black;
    border: .3em inset var(--main-darkgreen-color);
    border-radius: .25em
}

input[type=email], input[type=text], input[type=number], input[type=date], input[type=file], textarea, select {
    background-color: var(--main-beige-color);
    border: .2em inset var(--main-darkgreen-color);
    width: 100%;
    font-size: medium;
    font-family: var(--main-body-font);
}
input[type=email], input[type=text], input[type=number], input[type=date]{
    height: 1.4em;
}

form p{
    text-indent: 0;
}

/* Footer */
footer {
    background-color: var(--main-darkgreen-color);
    font-family: var(--main-body-font);
    text-align: center;
    padding: 10px 0;
    width: 100%;
    bottom: 0;
}

footer a {
    color: var(--main-color);
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    font-style: italic;
}